@charset "UTF-8";

.nav-menu {
    display: none !important;
}

label {
    display: none;
}

/* Larger than desktop */
@media (min-width: 1000px) {
    label {
        display: inline-block;
        padding: 5px 10px;
        color: #3a3f43;
        cursor: pointer;
    }
    .nav-menu:checked + label {
        color: #fff;
        background-color: #3a3f43;
        border-radius: 3px;
    }
}